@media  (min-width: 1008px) {
    body{
        background-color: #FCE648;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 10vh 77vh 10vh;
        grid-template-areas: 
        'header header header header'
        'aside main main main'
        'footer footer footer footer';
    }
}
@media  (min-width: 641px) and (max-width: 1007px) {
    body{
        background-color: #FCE648;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 10vh 20vh 56vh 10vh;
        grid-template-areas: 
        'header'
        'aside'
        'main'
        'footer';
    }
}
@media  (max-width: 640px) {
    body{
        background-color: #FCE648;
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 10vh 77vh 10vh;
        grid-template-areas: 
        'header'
        'main'
        'footer';
    }
}
/*-------------------------------------------HEADER---------------------------------------------*/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    background-color: #8FBCB3;
}
@media (min-width: 1008px) {
    .header{
        color: blue;
    }
}
@media (min-width: 641px) and (max-width: 1007px) {
    .header{
        color: pink;
    }
}
@media (max-width: 640px) {
    .header{
        color: red;
    }
}
/*-------------------------------------------ASIDE---------------------------------------------*/
.aside{
    background-color: #DFE6ED;
    grid-area: aside;
}
@media (max-width: 640px) {
    .aside{
        display: none;
    }
}
/*-------------------------------------------MAIN---------------------------------------------*/
.main{
    background-color: #8FBCB3;
    grid-area: main;
}

/*-------------------------------------------FOOTER---------------------------------------------*/
.footer{
    background-color: #8FBCB3;
    grid-area: footer;
}
